body{
background-image: url("https://images.pexels.com/photos/1252890/pexels-photo-1252890.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
color:white;
}
.container{
    display: flex;
    justify-content: center;
    text-align: center;
    top: 50%;
}
img{
    width: 150px;
    height:150px;
    border-radius: 25px;
}