<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
<ul>
    <div th:each="albums :${albums}">
        <h3> song title: <span th:text="${albums.title}"></span></h3>
        <h3> song artist:<span th:text="${albums.artist}"></span></h3>
        <h3> song length: <span th:text="${albums.length}"></span></h3>
        <h3> song count: <span th:text="${albums.songCount}"></span></h3>
        <img th:src="${albums.imageUrl}">
    </div>
</ul>
<ul>
    <div th:each="albumss :${albumss}">
        <h3> song title: <span th:text="${albumss.title}"></span></h3>
        <h3> song artist:<span th:text="${albumss.artist}"></span></h3>
        <h3> song length: <span th:text="${albumss.length}"></span></h3>
        <h3> song count: <span th:text="${albumss.songCount}"></span></h3>
        <img th:src="${albumss.imageUrl}">
    </div>
</ul>
<a href="/">Home</a>
</body>
</html>