<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
<ul>
    <div th:each="songs :${songs}">
        <h3> song title: <span th:text="${songs.title}"></span></h3>
        <h3> song trackNumber:<span th:text="${songs.trackNumber}"></span></h3>
        <h3> song length: <span th:text="${songs.length}"></span></h3>
        <h3> song id: <span th:text="${songs.id}"></span></h3>
        <br>
        <br>

    </div>
</ul>
<a href="/AddSongS">Add Song</a>
<br>
<br>
<a href="/album">Show Sogn </a>
<br>
<a href="/">Home page </a>

</body>
</html>